.logo {
	float: left;
	text-align: center;
}
 nav {
	 float: right;
}

 body {
	 background: #000000;
	 color: black;
	 font-size: 16px;
}

.container {
	width: 1350px;
	height: 500px;
	background-image: linear-gradient(to right, #E2BCBB, #E4514A);
	align-items: stretch;
	display: flex;
}
.col-1-2 {
	width: 200px;
	height: 200px;
	border-radius: 200px / 200px;
	text-align: center;
}
button {
	color: white;
	text-align: center;
	background-color: black;
}
div {
	padding: 10px 20px 10px 10px;
	text-align: center;
}
a {
	color: white;
}